@import "tailwindcss";

:root {
  --background: #151515;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@layer utilities {
  .scrollbar-hide {
    /* Firefox */
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    /* Safari e Chrome */
    display: none;
  }
}


/* 
#9d14ff purple
#00993d green
#068FFF blue
#151515 black
#FF9A00 yellow

*/